@import '~antd/dist/antd.css';

#root {min-height:100%;}

.App {
  text-align: center;
}

.content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: #fafafa;
  padding: 50px;
}


.headerAvatar {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  right: 12px;
  position: inherit;
  top: 12px;
  position: absolute;
}
